# ------------- list from pangeo-notebook: https://github.com/pangeo-data/pangeo-docker-images/blob/master/pangeo-notebook/environment.yml 
esmpy # not sure...
nb_conda_kernels # only conda
nomkl # no need
pangeo-notebook=2022.04.18
xcape
xcube>=0.9.1
xesmf ## need esmpy
earthdata
argopy
awscli