# https://github.com/pangeo-data/pangeo-docker-images/blob/master/pangeo-notebook/environment.yml

cartopy ## need advanced stuff
esmpy ## not sure...
geoviews-core ## need cartopy
nb_conda_kernels ## only conda / no need
nomkl # no need
pangeo-notebook=2022.04.18 # unavailable on pypi?
xcube>=0.9.1
xesmf ## need esmpy
