pydot
graphviz
seaborn
hvplot
nose
mpmath
sympy
imageio
scikit-image
scikit-learn>=1.0.0
tifffile
xarray
cftime
netcdf4
cython
asciitree
numcodecs
fasteners
zarr
appdirs
pyproj
pint
pooch
metpy
trollsift
trollimage
pykdtree
donfig
configobj
pyresample
satpy
affine
snuggs
cligj
click-plugins
rasterio
dask-glm
dask-ml
multipledispatch
ciso
datashape
datashader
xarray-spatial
xarrayutils
xyzservices
websocket-client
traittypes
sniffio
mercantile
jupyterlab-widgets
anyio
rioxarray
jupyter-server
widgetsnbextension
ipywidgets
ipyurl
ipyspin
ipyleaflet
xarray_leaflet
PyJWT
adal
adlfs
aiohttp
aiosignal
async-timeout
azure-core
azure-datalake-store
azure-identity
azure-storage-blob
cryptography
frozenlist
fsspec
isodate
msal
msal-extensions
msrest
multidict
portalocker
yarl
bottleneck
findlibs
eccodes
cfgrib
cmip6_preprocessing
xgcm
descartes
eofs
erddapy
fastjmd95
gcm_filters
gcsfs
geocube
geopy
xgcm
xhistogram
xmitgcm
xpublish
xrft
xskillscore
pystac
pystac-client
intake
intake-esm
intake-geopandas
intake-stac
intake-xarray
ipyleaflet
ipytree
jupyter-panel-proxy
jupyter-resource-usage
parcels
pop-tools
prefect
pyarrow
pycamhd
pydap
rechunker
rio-cogeo
rise
s3fs
sparse
blosc
gist
stackstac
tiledb
nc-time-axis
gsw
kerchunk
lxml
lz4
pygeos
timezonefinder
nbstripout
gh-scoped-creds
