# pangeo-notebook
# cfgrib
# ciso
numpy
scipy
matplotlib
ipython
jupyterlab
pandas
sympy
nose
netcdf4
metpy
xarray
scikit-learn
scikit-image
zarr
satpy
seaborn
adlfs
argopy
awscli
boto3
bottleneck
cmip6_preprocessing
dask-ml
datashader
descartes
earthdata
eofs

