# ------------- list from pangeo-notebook: https://github.com/pangeo-data/pangeo-docker-images/blob/master/pangeo-notebook/environment.yml 
argopy # messes with scipy installed
awscli # messes with pyyaml, etc.
cartopy # need advanced stuff
earthdata # causes a scene
eofs
erddapy
esmpy
fastjmd95
fsspec
gcm_filters
gcsfs
geocube
geopandas
geopy
geoviews-core
gh
gh-scoped-creds
git-lfs
gsw
intake
intake-esm
intake-geopandas
intake-stac
intake-xarray
ipyleaflet
ipytree
jupyter-panel-proxy
jupyter-resource-usage
kerchunk
lxml
lz4
nb_conda_kernels
nbstripout
nc-time-axis
nomkl
pangeo-notebook=2022.04.18
parcels
pop-tools
prefect
pyarrow
pycamhd
pydap
pygeos
pystac
pystac-client
blosc
gist
rechunker
rio-cogeo
rise
s3fs
sparse
stackstac
tiledb
timezonefinder
xcape
xcube>=0.9.1
xesmf ## need esmpy
xgcm
xhistogram
xmitgcm
xpublish
xrft
xskillscore